/*General */
* {
  box-sizing:border-box
}
body {
    font-family: Arial, sans-serif;
    font-size: 15px;
}
h1 {
    font-family: 'Crete Round', serif;
    font-size: 45px;
    color:darkslateblue;
}
h2 {
    color: darkslateblue;
    font-size: 55px;
    text-align: center;
}
h3 {
    color: darkblue;
    font-size: 30px;
}
h4 {
    font-size: 24px;
    color: darkslateblue;
    text-align: center;
}
p {
    line-height: 20px;
    color: darkslategrey;
}
/***********************
header style
 **********************/
header {
  background: #E1F9F9;
  height: 15vh;
}
.contanier {
  position: relative;
  max-width: 1000px;
}
.contanier::after{
  content: "";
  clear: both;
  display: block;
}
.nav {
  position: absolute;
  background-color: #464655;
  top: 12%;
  right: 0;
  height: 0;
  overflow: hidden;
  width: 30%;
}
.nav ul {
  margin: 0;
  padding: 0;
}
.nav li {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.nav li:last-child{
  border-bottom: none;
}
.nav a {
  color: white;
  display: block;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: transform .4s ease;
}
.nav a:hover {
  background-color: #DEFFFF;
  color: #000;
  transform: scale(1.1);
  text-decoration: none;
}
 a:visited {
   color: inherit;
 }
 .logo {
   color: #000;
   font-size: 1.3em;
   margin: 50px 10px;
   float: left;
   text-decoration: none;
 }
 .logo a:hover {
   text-decoration: none;
 }
 .phone {
 color: white;
 font-size: 10px;
 margin: 20px 10px;
 float: right;
}
.phoneNumber {
  box-shadow: 1px 2px 5px #000;
  display: block;
  width: 200px;
  background-color: orangered;
  color: white;
  font-size: 20px;
  margin: auto;
  line-height: 50px;
  text-align: center;
  border-radius: 10px;
}
.phoneNumber:hover {
    text-decoration: none;
    color: #515390;
  }
 /* End of header style*/
 /***********************
  Burger menu
  **********************/
 .menu-toggle {
   padding: 2em;
   position: absolute;
   top: 7.5%;
   right: 1%;
   cursor: pointer;
 }
 .hamburger,
 .hamburger::before,
 .hamburger::after {
   content: "";
   display: block;
   background-color: #000;
   height: 3px;
   width: 1.75em;
   border-radius: 4px;
   transition: all ease-in-out 400ms;
 }
 .hamburger::before{
   transform: translateY(-6px);
 }
 .hamburger::after{
   transform: translateY(4px);
 }
 .nav--open {
   height: auto;
 }
 .open .hamburger {
   transform: rotate(45deg);
   margin-left: 20px;
 }
 .open .hamburger::before{
   opacity: 0;
 }
 .open .hamburger::after{
   transform: translateY(-4px) rotate(-90deg);
 }
 /*End of burger menu*/
/***********************
Body Style
**********************/
/* Slideshow container */
.testimonial-content {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.quote-container {
    /*display: none;*/
}
/* The dots/bullets/indicators */
.dot {
  text-align: center;
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*.testimonial-content {
   margin: auto;
   padding: 10px;
   width: 100%;
   background-color: #D3D3D3;
}
.quote-container {
  display: block;
  opacity: 0.8;
  color: #666666;
  font-size: 1.2rem;
  margin: auto;
  width: 95%;
}
.demo {
  display: block;
  color: red;
}*/
/*.slick {
  display: block;
  color: #000;
  border: 1px solid #000;
  width: 4px;
  margin: auto;
}*/
  .bodyImg {
    display: block;
    width: 70%;
    margin: 10px  auto;
  }
  .bodyText {
    display: block;
    width: 95%;
    margin: 20px auto;
  }
.bodyTitle {
  width: 25%;
  margin:  auto;
}
hr {
  height: 20px;
 	width: 80%;
  margin: auto;
}
small {
  font-size: 13px;
  font-style: italic;
}
/** mainphoto**/
#mainphoto {
  max-width: 100%;
  height: 420px;
  background-color:	#D3D3D3;
}
#mainphoto h2 {
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  padding: 150px 0 40px 0;
  margin-bottom: 20px;
}
.buttonLearnMore {
  box-shadow: 1px 2px 5px #000000;
  display: block;
  width: 120px;
  height: 50;
  background-color: orangered;
  color: white;
  font-size: 20px;
  margin: auto;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
}
.buttonLearnMore:hover {
  background: #3498DB;
}
/* End of main photo style*/
/*******************
Two fixed links on the site
*******************/
.BookAndGet {
  box-shadow: 1px 2px 5px #000;
  width: 150px;
  background-color: #45A6B9;
  color: #fff;
  font-size: 1.2em;
  margin-right: 5px;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
}
.BookAndGet:hover {
  color: #000;
  background-color: #21CDEF;
  border: 2px sold #fff;
  text-shadow: none;
  transition: color .5s esse-in-out .6s,
  background-color .5s esse-in-out .6s;
  cursor: pointer;
  text-decoration: none;
}
.BookNow {
  position: fixed;
  top: 50%;
  right: 0;
}
.GetAVoucher {
  position: fixed;
  top: 57%;
  right: 0;
}
/* End of two fixed links style*/
/***********************
footer style
 **********************/
 #footer {
   font-family: sans-serif;
   font-size: 1.6;
   text-align: center;
   background-color: #5B939E;
   height: 20vh;
   width: 100%;
 }
 .servicesList  a{
   display: inline-block;
   list-style-type: none;
   margin:20px 1px 10px 1px;
   padding-right: 5px;
   border-right: solid 1px #fff;
   color:#000;
 }
 .servicesList a:last-child {
   margin-right: 0;
   padding-right: 0;
   border-right: none;
 }
 .servicesList p a:hover {
   color: #fff;
 }
 .social {
   margin: 3px 3px 20px 3px;
 }
/*End of footer style*/
/**************************
Media Que.
***************************/
@media only screen and (min-width: 768px),
 only screen and (min-width: 700px) and
(orientation: landscape) {
/* Page Header Styel*/
header {
  height: 17vh;
}
.logo {
  font-size: 1.7em;
}
.menu-toggle {
   display: none;
}
.contanier{
  position: relative;
}
.nav  {
  height: 33px;
  width: 50%;
  position: absolute;
  top: 12%;
  right: 0;
  background-color: #C2C7CB;
}
.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.nav li{
  display: inline-block;
  border-right: 1px solid #fff;
  font-size: 12px ;
  text-shadow: 3px;
  padding: 3px;
  margin: auto;
  width: 100%;
}
.nav li:last-child{
  border-right: none;
}
.nav a{
  padding: 5px;
  margin: 0;
}
.nav a:hover {
  transform: scale(1.1);
  background-color: inherit;
}
.nav a {
  transition: none !important;
}
/***********************
 Body Style
 **********************/
#main-body,
#main-body > div {
  display: flex;
  flex-direction: column;
}
#main-body > section {
  display: flex;
  flex-direction: row;
}
 .bodyImg {
  width: 40%;
  height: 35%;
  margin: 20px;
 }
 .secImg {
  order: 4;
 }

 /*****************
  Footer style
 *****************/
 /*?*/
/********* media > 1025px **************/

@media only screen and (min-width: 1025px) {
#main-body{
    width: 70%;
    margin: auto;
  }
}
