/*General */
body {
    font-family: Arial, sans-serif;
    font-size: 15px;
}
h1 {
    font-family: 'Crete Round', serif;
    font-size: 45px;
    color:darkslateblue;
}
h2 {
    color: darkslateblue;
    font-size: 55px;
    text-align: center;
}
h3 {
    color: darkblue;
    font-size: 30px;
}
h4 {
    font-size: 24px;
    color: darkslateblue;
    text-align: center;
}
p {
    line-height: 20px;
    color: darkslategrey;
}
/***********************
header style
 **********************/
header {
  background: #E1F9F9;
  height: 15vh;
}
.contanier {
  position: relative;
  max-width: 1000px;
}
.contanier::after{
  content: "";
  clear: both;
  display: block;
}
.nav {
  position: absolute;
  background-color: #464655;
  top: 15%;
  right: 0;
  height: 0;
  overflow: hidden;
  width: 30%;
}
.nav ul {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #fff;
}
.nav li {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.nav li:last-child{
  border-bottom: none;
}
.nav a {
  color: white;
  display: block;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: transform .4s ease;
}
.nav a:hover {
  background-color: #DEFFFF;
  color: #000;
  transform: scale(1.1);
  text-decoration: none;
}
 a:visited {
   color: inherit;
 }
 .logo {
   color: #000;
   font-size: 1.7em;
   margin: 20px 5px;
   float: left;
   text-decoration: none;
 }
 .logo a:hover {
   text-decoration: none;
 }
 .phone {
 color: white;
 font-size: 10px;
 margin: 10px;
 float: right;
}
.phoneNumber {
  box-shadow: 1px 2px 5px #000;
  display: block;
  width: 200px;
  background-color: orangered;
  color: white;
  font-size: 20px;
  margin: auto;
  line-height: 50px;
  text-align: center;
  border-radius: 10px;
}
.phoneNumber:hover {
    text-decoration: none;
    color: #000;
  }
 /* End of header style*/
 /***********************
  Burger menu
  **********************/
 .menu-toggle {
   padding: 2em;
   position: absolute;
   top: 3.5em;
   right: .5em;
   cursor: pointer;
 }
 .hamburger,
 .hamburger::before,
 .hamburger::after {
   content: "";
   display: block;
   background-color: #000;
   height: 3px;
   width: 1.75em;
   border-radius: 4px;
   transition: all ease-in-out 400ms;
 }
 .hamburger::before{
   transform: translateY(-6px);
 }
 .hamburger::after{
   transform: translateY(4px);
 }
 .nav--open {
   height: auto;
   position: fixed;
 }
 .open .hamburger {
   transform: rotate(45deg);
   margin-left: 20px;
 }
 .open .hamburger::before{
   opacity: 0;
 }
 .open .hamburger::after{
   transform: translateY(-4px) rotate(-90deg);
 }
 /*End of burger menu*/
/***********************
Body Style
**********************/
.testimonial {
    display: block;
    margin: auto;
    width: 20%;
  }
.bodyTitle {
  width: 25%;
  margin: 10px auto;
}
.bodyText {
  display: block;
  width: 95%;
  margin: 20px auto;
}
/*.overlay {
  position: relative;
  width: 100%;
}*/
.bodyImg {
  display: block;
  width: 70%;
  margin: 10px  auto;
}
.textOnImg {
  position: absolute;
  bottom: 20%;
  right: 50%;
  width: 100%;
  background-color: #000;
  color: #fff;
  opacity: 05;
}
hr {
  height: 20px;
 	width: 80%;
	height: 42px;
	border-bottom: 0.5px solid #1f1209;
	box-shadow: 0 15px 15px -15px #333;
  margin: auto;
}
small {
  font-size: 13px;
  font-style: italic;
}
/** mainphoto**/
#mainphoto {
  max-width: 100%;
  height: 420px;
  background-color:	#D3D3D3;
}
#mainphoto h2 {
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  padding: 150px 0 40px 0;
  margin-bottom: 20px;
}
.buttonLearnMore {
  box-shadow: 1px 2px 5px #000000;
  display: block;
  width: 120px;
  height: 50;
  background-color: orangered;
  color: white;
  font-size: 20px;
  margin: auto;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
}
.buttonLearnMore:hover {
  background: #3498DB;
}
.BookAndGet {
  box-shadow: 1px 2px 5px #000;
  width: 150px;
  background-color: #45A6B9;
  color: #fff;
  font-size: 1.2em;
  margin-right: 5px;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
}
.BookAndGet:hover {
  color: #000;
  background-color: #21CDEF;
  border: 2px sold #fff;
  text-shadow: none;
  transition: color .5s esse-in-out .6s,
  background-color .5s esse-in-out .6s;
  cursor: pointer;
  text-decoration: none;
}
.BookNow {
  position: fixed;
  top: 50%;
  right: 0;
}
.GetAVoucher {
  position: fixed;
  top: 57%;
  right: 0;
}

/***********************
footer style
 **********************/
 #footer {
   font-family: sans-serif;
   font-size: 1.6;
   text-align: center;
   color: #000;
   background-color: azure;
   height: 20vh;
   width: 100%;
   padding:10px 0;
 }
 .servicesList ul{
   text-align: center;
 }
 .servicesList li {
   display: inline;
   list-style-type: none;
   text-decoration: underline;
   margin-right: 5px;
   padding-right: 5px;
   border-right: solid 1px #000;
   color: #3F79BC;
 }
 .servicesList li:last-child {
   margin-right: 0;
   padding-right: 0;
   border-right: none;
 }
 .servicesList li a:hover {
   color: #000;
 }
/*End of footer style*/
/**************************
Media Que.
***************************/
@media only screen and (min-width: 768px),
 only screen and (min-width: 700px) and
(orientation: landscape) {
/* Page Header Styel*/
header {
  height: 17vh;
}
.menu-toggle {
   display: none;
}
.contanier{
  position: relative;
}
.nav  {
  height: 33px;
  width: 50%;
  position: absolute;
  top: 12%;
  right: 0;
  background-color: #C2C7CB;
}
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.nav li{
  display: inline-block;
  border-right: 1px solid #fff;
  font-size: 12px ;
  text-shadow: 3px;
  padding: 3px;
}
.nav li:last-child{
  border-right: none;
}
.nav a{
  padding: 5px;
  margin: 0 10px;
}
.nav a:hover {
  transform: scale(1.1);
  background-color: inherit;
}
.nav a {
  transition: none !important;
}
/***********************
 Body Style
 **********************/
 .bodyImg {

 }
#footer {
  width: 100%;
  height: 20vh;
  background-color: azure;
  font-size: 1.2em;
}

#copy {
 float: left;
 margin-left: 25px;
 margin-top: 10px;;
}
.social {
    float: right;
    margin-right: 25px;
}
